.header
    width: 100vw
    padding: 3em 0 2em
    display: flex
    flex-flow: column nowrap
    align-items: center
    background: #c0e2f8

.title
    font-size: 3em

.subtitle
    font-size: 1.5em